@font-face {
	font-family: Rubik;
	src: url(Rubik-Regular.ttf);
}

@font-face {
	font-family: Rubik;
	src: url('Rubik-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Playfair-Display;
	src: url('PlayfairDisplay-Italic.ttf');
}

body {
    background-image: url('back.jpg');
  	background-position: center;
  	background-repeat: no-repeat;
    background-attachment: fixed;
  	background-size: cover;
  	background-color: #ebebeb;

    color: #111;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 5vw 8vw 10vw;
    padding: 0;
}

h3 {
	font-size: 20px;
    line-height: 32px;
    margin: 30px 0 0;
    font-weight: 500;
}

.title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.subtitle {
    display: block;
    font-family: 'Playfair-Display', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}

.form_hidden {
    display: none;
}

.done-message {
    display: none;
    margin: 0 0 60px -20px;
    padding: 20px 20px 30px;
    max-width: 700px;
}

.done-message_visible {
    display: block !important;
}

.confirm-message {
    display: none;
    margin: 0 0 60px -20px;
    padding: 20px 20px 30px;
    max-width: 700px;
}

.confirm-message_visible {
    display: block !important;
}

.donate-message {
    display: none;
    margin: 0 0 60px -20px;
    padding: 20px 20px 30px;
    max-width: 700px;
}

.donate-message_visible {
    display: block !important;
}

input {
    border: solid 1px #dfdfdf;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0 20px 10px 0;
    padding: 10px 15px 8px;
}

input[type="email"] {
    width: 300px;
}

input[type="submit"] {
    background-color: #f8f8f8;
    cursor: pointer;
    padding: 10px 20px 8px;
}

input[type="submit"]:active {
    color: inherit;
}

input[type="submit"]:hover {
    background-color: #f1f1f1;
}

.authors {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    list-style: none;
    margin: 20px 0 40px;
    padding: 0;
    width: 60px;
}

.authors li {
    margin-right: 40px;
}

.authors img {
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
}

a {
	color: #111;
}

.authors a {
	text-decoration: none;
}

.authors a:hover {
	text-decoration: underline;
}

.column {
    max-width: 700px;
    margin: 10px 0 30px;
}

.screen {
	box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
	margin: 30px 0 50px;
	width: 80%;
	max-width: 648px;
  height: auto;
}
